---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Import partials from `sass_dir` (defaults to `_sass`)
// Mixins
@import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/materialbox";
@import "components/form";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/date_picker/default.scss";
@import "components/date_picker/default.date.scss";
@import "components/date_picker/default.time.scss";

.card {
  @extend .card;
  .card-action{
    border-top: none;
    a{
      color: white;
      margin-right: 0;
    }
  }
  .btn.disabled{
    color: #ef5350;
    background-color: #e3f2fd;
    padding: 0px 15px 5px 15px;

  }
}

.toshift {
  padding-left: 300px;
}
@media only screen and (max-width : 992px) {
  .toshift {
    padding-left: 0;
  }
}
#slide-out{
  li {list-style-type: none;}
  li:before {
    content: none; /* on affiche une chaîne de caractère */
  }
}
.excerpt {
  padding: 15px;
}
.article {
  li {list-style-type: none;}
  li:before {
    content: "- "; /* on affiche une chaîne de caractère */
  }
  h3{
    font-weight: 400;
    font-size: xx-large;
    color: #01579b;
  }
  img{
    @extend .responsive-img;
  }
}
/* Tags */
.tags{
  margin:0;
  padding:0;
  float: left;
 // position:absolute;
  right:0px;
  bottom:-12px;
  list-style:none;
}
.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:11px;
}
.tags a{
  margin-left:20px;
  padding:0 10px 0 12px;
  background:#0089e0;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;
  border-top-right-radius:4px;
}
.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #0089e0 transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}
.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}
.tags a:hover{background:#555;}

.tags a:hover:before{border-color:transparent #555 transparent transparent;}