---
layout: default
---
<div itemscope itemtype="http://schema.org/Person">
    <div class="row">
        <div class="col s12 center-align">
            <h3 class="blue-grey-text thin">Hi, I'm <span itemprop="additionalName">vincent</span> !</h3>
            <span itemprop="familyName" class="hide" >Herlemont</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class=" col s12 m6 l5 offset-l1 center-align">
                <img class="responsive-img" src="{{ '/img/moi.png' }}" itemprop="image" alt="Photo of Vincent Herlemont" >
                <p>
                    The best way to reach me is by email
                    <a itemprop="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>

                <p>
                    <a class="btn red" href="#!">Download CV</a>
                </p>
            </div>
            <div class="col s12 m6 l6">
                <p class="firstp">
                    Born at Annecy and raised in the south of France.
                    I've make my degrees in math and computer science at the University of Grenoble.
                </p>

                <p>
                    I love learning, see a good movie, making piano, fly in paragliding
                    and sometime tinker a friendly web application and mobile.
                </p>

                <p>
                    I enjoy developing and create applications, and am passionate about
                    technology watch. How making a more stable application ?
                    How make a better more simply ? I test new technologies each month since six years for
                    have better vision.
                </p>

                <p>
                    A other point, I'm interesting about the role technology who can
                    spread knowledge which contribute to social change.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l2"><p class="right-align"></p></div>
    <div class="col s12 m12 l8">
        {% for page in site.pages %}
        {% if page.title  %}
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator lazy" data-original="img/pages/{{page.imgfront}}">
                </div>
                <div class="card-action">
                    <a class="btn disabled"><i class="mdi-action-toc left"></i>{{site.categories[page.categories].size}}&nbsp;</a>
                    <a href="{{ page.permalink }}"
                       class="btn waves-effect waves-light light-blue">open</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ page.title | capitalize }} <i
                            class="mdi-navigation-close right"></i></span>
                    <p class="endp">
                        {{page.excerpt}}
                    </p>
                    <a href="{{ page.permalink }}" class="btn waves-effect waves-light light-blue">open</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col s12 m12 l2"><p></p></div>
</div>
