---
layout: page
title: Professional experience
permalink: /professional_experience/
imgfront: professional_experience.png
n: 1
categories: professional_experience
excerpt:
    ""
---
{% assign mycategoryname = 'professional_experience' %}
{% assign mycategory = site.categories.professional_experience %}
<section class="text">
{% for post in mycategory %}
    <article>
        <header>
                <h1>
            <a href="{{post.url | site.baseurl}}">{{ post.title }} &nbsp;{ {{post.time}} }
            </a>
                </h1>
                    {% for subcategory in post.categories %}
                        {% if subcategory != mycategoryname %}
                            {{subcategory}}
                        {% endif %}
                    {% endfor %}
            <div>
                {% for subtags in post.tags %}
                    <span class="ibadge itags">{{subtags}}</span>
                {% endfor %}
            </div>

        </header>

        <p class="section flow-text endp">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </p>

        <footer>
            <a class="disabled companybutton waves-effect btn-flat"><i class="mdi-communication-business"></i> {{post.company}}</a> Role : {{post.role}}
        </footer>
    </article>
{% endfor %}
</section>
