{% assign pagessort = site.pages | sort: 'n' %}
<div class="navbar" id="navbar">
    <nav>
      <div class="menu">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <!-- <a href="{{ site.baseurl }}/" class="brand-logo center">&nbsp;&nbsp;  About me</a> -->
        <ul>
          <li>
            <a href="{{ site.baseurl }}/" class="page-link">
              About me
            </a>
          </li>
          {% for page in pagessort%}
            {% if page.n > 0 %}
              <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                  {{ page.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div id="my-email">
        <ul>
            <li>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
            <li>
                <a target="_blank" href="https://fr.linkedin.com/pub/vincent-herlemont/79/432/a39"><img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25_fr_FR.png?locale=" width="160" height="25" border="0" alt="Voir le profil de Vincent Herlemont sur LinkedIn">
                </a>
            </li>
        </ul>
    </div>

</div>
