{% assign pagessort = site.pages | sort: 'n' %}
<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="{{ site.baseurl }}/" class="brand-logo">&nbsp;&nbsp; Lab & web</a>
        <ul class="right hide-on-med-and-down">
          {% for page in pagessort%}
            {% if page.title %}
              <!--
              <li>
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                  {{ page.title }}
                  {{ page.test }}
                </a>
              </li>
              -->
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
