---
layout: default
---
<div class="page">
    <div class="text">
        <h1>{{ page.title }}</h1>
    </div>

    <div class="text">
        <p>
            {{ page.date | date: "%b %-d, %Y" }} -> {{ page.enddate | date: "%b %-d, %Y" }}
            {% if page.author %}
              • {{ page.author }}
            {% endif %}
            {% if page.meta %}
              • {{ page.meta }}
            {% endif %}
        </p>
    </div>

    {% if page.includeExcerpt %}
    <div class="text">
        {{page.excerpt}}
    </div>
    {% endif %}
    <article class="text">
        {{ content }}
    </article>
</div>
